body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Div que vai de ponta a ponta (cabeçalho ou barra) */
.top-div {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.button-left, .button-right {
    position: absolute;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-left {
    left: 20px; /* Ajuste conforme necessário */
    background-color: #d3cdca;
    color: #000000;
}

.button-right {
    right: 20px; /* Ajuste conforme necessário */
    background-color: #d3cdca;
    color: #000000;
}

.button-left:hover, .button-right:hover {
    opacity: 0.8;
}

/* Container para as duas divs inferiores */
.bottom-container {
    display: flex;
    width: 100%;
    height: auto; /* Ajusta conforme necessário */
}

/* Estilizando a div da esquerda */
.left-div {
    background-color: #ffffff;
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

/* Estilo para a seção com título e botão ao lado */
.header-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-row h2 {
    margin: 0;
    border-bottom: 2px solid #333; /* Adiciona uma linha embaixo do título */
    padding-bottom: 5px;
}

.new-recipe-btn {
    background-color: #ea1d2c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.new-recipe-btn:hover {
    background-color: #f11625;
}

/* Containers para "Vencidos" e "Vencem Hoje" lado a lado */
.receivables-row {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(1, 1, 1, 0.1);
}

.receivables-container {
    flex: 1;
    margin-right: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.receivables-container:last-child {
    margin-right: 0; /* Remove a margem direita do último container */
}

.receivables-container h3 {
    margin: 0;
    text-align: center; /* Centraliza o texto dos títulos */
}

.receivables-container p {
    margin: 5px 0 0 0;
    text-align: center; /* Centraliza o texto dos subtítulos */
    color: #00a33f;
    font-size: 18px;
}

/* Estilizando a div da direita */
.right-div {
    background-color: #ffffff;
    flex: 1;
    padding: 20px;
}

/* Estilizando o container da imagem */
.image-container {
    margin-top: 20px;
    text-align: center; /* Centraliza a imagem */
}

.image-container img {
    max-width: 70%;
    height: auto;
    border-radius: 8px; /* Ajuste para deixar os cantos arredondados, se desejar */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra leve na imagem */
    object-fit: cover;
}


@media (max-width: 768px) {
    .header-row {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-row h2 {
        margin-bottom: 10px; /* Espaço entre o título e o botão em telas menores */
    }

    .receivables-row {
        flex-direction: column;
    }

    .receivables-container {
        margin-right: 0;
        margin-bottom: 10px; /* Espaço entre os containers em telas menores */
    }

    .receivables-container:last-child {
        margin-bottom: 0; /* Remove a margem inferior do último container */
    }

    .image-container img {
        max-width: 100%; /* Garante que a imagem não exceda a largura do container */
    }

    .button-left, .button-right {
        position: static; /* Remove a posição absoluta em telas menores */
        margin-bottom: 10px; /* Espaço inferior para botões */
    }

    .button-left {
        left: auto;
        right: auto;
    }

    .button-right {
        left: auto;
        right: auto;
    }
}

@media (max-width: 480px) {
    .bottom-container {
        flex-direction: column; /* Empilha as divs uma embaixo da outra */
    }

    .left-div, .right-div {
        width: 100%; /* Garante que cada div ocupe a largura total */
        margin-bottom: 20px; /* Espaço entre as divs empilhadas */
    }

    .receivables-row {
        flex-direction: column;
        margin: 0;
    }

    .receivables-container {
        margin-bottom: 10px; /* Espaço entre os containers empilhados */
        margin-right: 0; /* Remove a margem direita */
    }

    .receivables-container:last-child {
        margin-bottom: 0; /* Remove a margem inferior do último container */
    }

    .image-container img {
        max-width: 100%; /* Garante que a imagem não exceda a largura do container */
    }

    .new-recipe-btn {
        width: 100%; /* Garante que o botão ocupe toda a largura disponível */
        padding: 15px; /* Aumenta o padding para melhorar a acessibilidade */
    }
}
